{% load widget_tweaks %}

    <div class="-mx-3 md:flex mb-6">
      <div class="md:w-1/3 px-3">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">Project</label>
        {{ project_form.project|add_class:"appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-300 rounded py-3 px-4" }}
      </div>
      <div class="md:w-1/3 px-3">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">GitHub</label>
        {{ project_form.github|add_class:"appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-300 rounded py-3 px-4" }}
      </div>
      <div class="md:w-1/3 px-3">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">Description 1</label>
        {{ project_form.description1|add_class:"appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-300 rounded py-3 px-4" }}
      </div>
    </div>

    <div class="-mx-3 md:flex mb-6">
      <div class="md:w-1/3 px-3">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">Description 2</label>
        {{ project_form.description2|add_class:"appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-300 rounded py-3 px-4" }}
      </div>
      <div class="md:w-1/3 px-3">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">Start Date</label>
        {{ experience_form.startdate|add_class:"appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-300 rounded py-3 px-4" }}
      </div>
      <div class="md:w-1/3 px-3">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">End Date</label>
        {{ experience_form.enddate|add_class:"appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-300 rounded py-3 px-4" }}
      </div>
    </div>

    
  <div class="space-y-6 mt-6">
  {% for project in project_instance %}
    <div class="bg-white dark:bg-gray-800 rounded-xl shadow-md p-6 border border-gray-200 dark:border-gray-700">
      <h2 class="text-xl font-semibold text-gray-800 dark:text-gray-100 mb-2">
        {{ project.project }}
      </h2>
      <p class="text-gray-600 dark:text-gray-300 mb-1">
        <span class="font-medium text-gray-700 dark:text-gray-200">github:</span> {{ project.github }}
      </p>
      <ul class="list-disc list-inside text-gray-600 dark:text-gray-300 mb-2 space-y-1">
        <li>{{ project.description1 }}</li>
        <li>{{ project.description2 }}</li>
        <li>{{ project.techstack }}</li>
      </ul>
   
    </div>
  {% endfor %}
</div>
